# here we define the editor files
.idea
.project
.vscode
.DS_Store

# define folders of apps which are excluded by this git track because each of them is a separate repo
/app_vue
/app_laravel
/app_sci
/app_react
